:root{
    --background: #1f2237;
    --border: #FFCC71;
    --text: #ffe7b9;
    --text-secondary: #da7194;
    --icon: #ff0055;
    --dark-bg: #171717;
    --light-bg: #424242;
    --input-error: #390000;
    --primary-button: #680023;
    --absent: #ff735b;
    --present: #69ff5b;
    --table: #ffeed0;

    /*----[ syntax highlight colors ]----*/
    --pre-function: #f8518d;
    --pre-string:#ffc400;
    --pre-keyword: #00aeff;
    --pre-class:#229200;
}