:root{
    --background: #1f2237;
    --border: #FFCC71;
    --text: #FFCC71;
    --icon: #f6005e;
    --dark-bg: #171717;
    --light-bg: #424242;
    --pre-function: #f8518d;
    --pre-string:#ffc400;
    --absent:#ff735b;
    --present:#69ff5b;
    --table:#ffeed0;
}