:root{
    --background: #1f2237;
    --border: #FFCC71;
    --text: #FFCC71;
    --icon: #f6005e;
    --dark-bg: #171717;
    --light-bg: #696969;
    --pre-function: #f8518d;
    --pre-string:#ffc400;
}