@import "palette.css";
@import "animations.css";

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background-color: var(--background);
    color: var(--text);
    font-size: 100%;
    font-weight: 300;
}

*{
    font-family: "Fira Code";
    box-sizing: border-box;
    font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
    text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
    word-break: break-all;
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h1{font-size: 2.5rem; font-weight: 700;}
h2{font-size: 2.2rem; font-weight: 600;}
h3{font-size: 2rem; font-weight: 600;}
h4{font-size: 1.7rem; font-weight: 500;}
h5{font-size: 1.2rem; font-weight: 500;}

.container{
    position:absolute;
    width: 100%;
    margin: 0;
    transform: translateY(-50%);
    top:50%;
}

.content{
    margin: auto;
    width: fit-content;
    padding: 5px;
}

i{color:var(--icon)}
button i{color:var(--text)}

input,button{
    border: solid var(--border) 2px;
    background-color: var(--dark-bg);
    color: var(--text);
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    font-size: 1rem;
}

input[type="number"]{
    -moz-appearance: textfield;
    border-radius: 20px 0 0 20px;
    border-radius: 1rem 0 0 1rem;
    width: 20rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
    border-radius: 0 1rem 1rem 0;
    margin-left: -2px;
}
button:active{
    background-color: var(--light-bg);
}

span.pre-function{color: var(--pre-function);}
span.pre-string{color:var(--pre-string)}

.spinner::after{
    content:"\EE06";
    animation: spinner .5s forwards infinite;
}

kbd{
    position: relative;
    font-family: 'Fira Code';
    text-decoration: none;
}

kbd::after{
    position: absolute;
    right:-5px;
    top:0;
    width: 100%;
    height: 100%;
    content:'';
    border-left: solid 5px white;
    background-color: var(--background);
}