{% extend 'base.html' %}
{% block title %}Login - {% endblock %}
{% block body %}
<div id="container" class="container">
    <div id="login" class="content">
        <h4><i class="fa-solid fa-right-to-bracket"></i> Login form:</h4>
        <input id="username" type="text" placeholder="User name">
        <input id="password" type="password" placeholder="Password">
        <button name="submit">Login <i class="fa-solid fa-caret-right"></i></button>
    </div>
    <div id="loading" class="content hidden">
        <h5><span class="spinner"></span> <kbd id="loading-text"></kbd></h5>
    </div>
</div>
{% endblock %}